.app {
  width: 1440px;
  height: 1823px;
  background-color: #585CC6;
  background-image: url('./img/background-img-desctop.png');
  background-size: 551.82px 1073px;
  background-position-x: 889px;
  background-position-y: 56px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 770px) {
  .app {
    width: auto;
    height: auto;
    background-color: #585CC6;
    background-image: url('./img/background-img-mobile.png');
    background-size: 206.93px 402.5px;
    background-position: right top;
    background-position-y: 70px;
  }
}