.main-info-card {
  padding: 40px 40px 44px 40px;
  background-color: #FFFFFF;
  border-radius: 2px;
  position: relative;
  top: -32px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 1%;
  color: #333333;
}

.main-info-card span {
  font-weight: 700;
  margin-right: 5px;
}

.main-info-card_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.main-info-card_header__name {
  color: #585CC6;
  font-family: 'Factor A';
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
}

.main-info-card_header__birthdate {
  color: #8A8A8A;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1%;
}

.main-info-card_header__items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 18px;
}

.main-info-card_header__item:nth-last-child(n+2) {
  margin-right: 40px;
}

.main-info-card_header__item img {
  margin: 0 2.5px;
}

.main-info-card_footer {
  display: flex;
  align-items: flex-end;
  margin-top: 36px;
}

.main-info-card_footer img {
  position: relative;
  top: 3px;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

@media (max-width: 900px) {
  .main-info-card {
    padding: 20px 15px 24px 17px;
    font-size: 12px;
    line-height: 20px;
    margin-right: 16px;
    top: -11px;
  }
  
  .main-info-card span {
    margin-right: 4px;
  }
  
  .main-info-card_header {
    margin-bottom: 16px;
  }
  
  .main-info-card_header__name {
    font-size: 24px;
    line-height: 32px;
  }
  
  .main-info-card_header__birthdate {
    font-size: 16px;
    line-height: 22px;
  }
  
  .main-info-card_header__items {
    margin-bottom: 16px;
  }
  
  .main-info-card_header__item:nth-last-child(n+2) {
    margin-right: 28px;
  }
  
  .main-info-card_footer {
    margin-top: 16px;
  }
  
  .main-info-card_footer img {
    top: 2px;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}