.file-loading_input-wrapper {
  width: 265px;
  height: 56px;
  background-color: #F5F5F5;
  border-radius: 2px;
  margin-bottom: 32px;
  display: flex;
}

.file-loading_jpg-icon {
  width: 28px;
  height: 28px;
  margin: 14px 12px;
}

.file-loading_info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  margin: 14px 0;
}

.file-loading_file-info {
  color: #333333;
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 600;
  align-self: flex-start;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
}

.file-loading_file-info.warning {
  color: #EB5757;
}

.file-loading_progress-bar {
  width: 100%;
  height: 4px;
  background-color: #C2C4FF;
  border-radius: 4px;
}

.file-loading_progress-bar.warning {
  background-color: #EB5757;
}

.file-loading_progress-bar::-webkit-progress-bar {
  background-color: #C2C4FF;
  border-radius: 4px;
}

.warning.file-loading_progress-bar::-webkit-progress-bar{
  background-color: #EB5757;
}

.file-loading_progress-bar::-webkit-progress-value {
  background-color: #585CC6;
  border-radius: 4px;
}

.file-loading_progress-bar::-moz-progress-bar {
  background-color: #585CC6;
  border-radius: 4px;
}

.file-loading_spiner {
  width: 17px;
  height: 18px;
  margin: 19px 12px 19px 16px;
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.file-loading_pail {
  width: 20px;
  height: 20px;
  margin: 18px 12px 18px 16px;
  background-image: url('./img/pail-icon.png');
  background-position: center center;
}

.file-loading_pail:hover {
  background-image: url('./img/pail-icon__hover.png');
}

.hidden {
  display: none;
}

@media (max-width: 900px) {
  .file-loading_input-wrapper {
    width: 100%;
  }

  .file-loading_file-info {
    max-width: calc(100% - 28 - 20);
  }

  .file-loading_pail {
    margin: 18px 12px;
  }
}

@-webkit-keyframes rotation {
  0% {-webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      transform:rotate(360deg);}
}
@-moz-keyframes rotation {
  0% {-webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      transform:rotate(360deg);}
}
@-o-keyframes rotation {
  0% {-webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -o-transform:rotate(360deg);
      transform:rotate(360deg);}
}
@keyframes rotation {
  0% {-webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -o-transform:rotate(0deg);
      transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);
      -moz-transform:rotate(720deg);
      -o-transform:rotate(360deg);
      transform:rotate(360deg);}
}
