footer {
  height: 20px;
  margin-top: auto;
  background-color: #FFFFFF;
  padding: 24px 82.25px 20px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer_copyright {
  font-size: 16px;
  line-height: 20px;
  color: #8A8A8A;
}

.social-net-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-net-icon {
  width: 19.5px;
  height: 19.5px;
  border-radius: 9.25;
  background-position: center center;
}

.social-net-icon:nth-child(n + 2) {
  margin-left: 20.5px;
}

.twitter {
  background-image: url('./img/icon-twitter.png');
}

.twitter:hover {
  background-image: url('./img/icon-twitter-hover.png');
}

.reddit {
  background-image: url('./img/icon-reddit.png');
}

.reddit:hover {
  background-image: url('./img/icon-reddit-hover.png');
}

.telegram {
  background-image: url('./img/icon-telegram.png');
}

.telegram:hover {
  background-image: url('./img/icon-telegram-hover.png');
}

@media (max-width: 900px) {
  footer {
    height: auto;
    padding: 12px 24px 18.5px 24px;
    justify-content: center;
    margin-top: 82px;
  }

  .footer_copyright {
    margin-bottom: 14px;
  }
}
