.App {
  width: 1440px;
  height: 1823px;
  background-color: #585CC6;
  background-image: url('../public/img/background-img-desctop.png');
  background-size: 827.73px 1610px;
  background-position-x: 639px;
  background-position-y: -126px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
