.review-card {
  width: 471px;
  padding: 24px;
  background-color: #F5F5F5;
}

.review-card span {
  font-family: 'Factor A';
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: -1.24%;
  color: #333333;
  margin-right: 5px;
}

.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.review-card-avatar_img {
  width: 52px;
  height: 52px;
  margin-right: 20px;
}

.review-card-date {
  font-family: 'Factor A';
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #8A8A8A;
  margin-left: auto;
  align-self: flex-start;
}

.review-card-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
}

@media (max-width: 900px) {
  .review-card {
    width: auto;
    padding: 16px 12px;
  }
  
  .review-card span {
    font-size: 16px;
    line-height: 24px;
    margin-right: 4px;
  }

  .review-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12px;
  }
  
  .review-card-avatar_img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  
  .review-card-date {
    width: 250px;
    font-size: 10px;
    line-height: 14px;
    align-self: flex-start;
    margin-left: 0;
    margin-top: 12px;
  }
  
  .review-card-text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #333333;
  }
}